$mobile-width: 320px;
$mobile-width-only: 749px;
$tablet-width: 767px;
$desktop-width: 1024px;
$desktop-large-width: 1920px;

$color-black: #666666;
$color-gray: #ebebeb;
$color-gray-1: #cdcdcd;
$color-gray-2: rgba(98, 105, 98, 0.2);
$color-blue: #00b2ff;
$color-dark-blue: #1b2931;
$color-dark-blue-2: #203c42;
$color-dark-blue-3: #1b2d37;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "PT Mono", "Georgia", serif;
$font-alt: "Roboto Condensed", "Arial", sans-serif;

$time: 0.2s;
$time-long: 0.9s ease-in-out;
