.about {
  padding-bottom: 64px;

  & h2 {
    margin-top: 0;
    margin-bottom: 21px;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
  }

  & p {
    margin-top: 0;
    margin-bottom: 41px;
    padding-left: 3px;

    &:last-of-type {
      margin-bottom: 31px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 83px;
    padding-left: 185px;
    background-image: url("../img/2005-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 136px 362px;
    background-position: 1px -2px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005-tablet@2x.jpg");
    }

    & h2 {
      margin-bottom: 26px;
      font-size: 32px;
    }

    & p {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 43px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
    padding-bottom: 109px;
    padding-left: 180px;
    background-image: url("../img/2005-desktop@1x.jpg");
    background-size: 120px 317px;
    background-position: 0 4px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005-desktop@2x.jpg");
    }

    & h2 {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 51px;
    }

    & p {
      margin-bottom: 22px;
      padding-left: 0;

      &:last-of-type {
        margin-bottom: 39px;
      }
    }
  }
}

.about__more {
  @include btn-blue();

  width: 180px;
  margin-left: 3px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
