.advantages {
  @include list();
  @include container();

  padding-top: 40px;
}

.advantages__item {
  margin-bottom: 20px;
  padding: 24px;
  border-top: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  border-left: 2px solid $color-blue;
  transition: background-color 0.3s, color 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 17px;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $color-blue;
    transition: color 0.3s;
  }

  & p {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    cursor: pointer;

    &:hover {
      background-color: $color-blue;
      color: white;
      transition: background-color 0.3s, color 0.3s;
    }

    &:hover h3 {
      color: white;
      transition: color 0.3s;
    }
  }
}
