.btn {
  @include btn-white();
  display: inline-block;
  vertical-align: top;
  padding: 13px 27px 14px 26px;
  font-family: $font-alt;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
