.btn {
  display: inline-block;
  vertical-align: top;
  padding: 13px 27px 14px 26px;
  font-family: $font-alt;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
