.container {
  @include container();

  @media (min-width: $tablet-width) {
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
