.header {
  padding-bottom: 102px;
  background-color: $color-dark-blue;
  background-image: url("../img/header@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    padding-bottom: 0;
    background-position: -355px 0;
  }

  @media (max-width: $tablet-width) {
    background-position: -611px 0;
  }
}

.header__container {
  position: relative;
  max-width: 1564px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 70px 10px 70px;
  background-image: url("../img/boards@1x-desktop.png");
  background-repeat: no-repeat;
  background-size: 713px 655px;
  background-position: top 118px right -1px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/boards@2x-desktop.png");
  }

  @media (max-width: 1600px) {
    background-position: top 0 right -140px;
  }

  @media (max-width: $desktop-width) {
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
    background-size: 330px 466px;
    background-image: url("../img/boards@1x-tablet.png");
    background-position: top 0 right 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/boards@2x-tablet.png");
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 17px;
    padding-right: 15px;
    padding-left: 15px;
    background-image: url("../img/boards@1x-mobile.png");
    background-size: 294px 437px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/boards@2x-mobile.png");
    }
  }
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  padding-right: 4px;
  padding-left: 4px;

  @media (max-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-right: 88px;
  color: white;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  transition: color 0.3s;

  &:nth-last-of-type(2) {
    margin-right: 49px;
  }

  &:hover,
  &:focus {
    color: $color-blue;
    transition: color 0.3s;

    & svg {
      fill: white;
      transition: fill 0.3s;
    }
  }

  &:active {
    opacity: 0.7;
  }

  & svg {
    fill: $color-blue;
    transition: fill 0.3s;
  }

  & span {
    display: block;
    margin-left: 20px;
  }

  &--tel {
    & span {
      margin-left: 16px;
    }
  }

  @media (max-width: 1145px) {
    margin-right: 44px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 34px;

    &:nth-last-of-type(2) {
      margin-right: 0;
    }

    & span {
      display: none;
    }

    &--email {
      & svg {
        width: 25px;
        height: 18px;
      }
    }

    &--tel {
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 24px;

    &:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
}

.header__order {
  display: block;
  margin-top: 1px;
  margin-right: 3px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__scroll {
  position: absolute;
  bottom: 24px;
  left: 36px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  transform: rotate(-90deg);
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $color-blue;
    transition: color 0.3s;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}
