.logo {
  display: flex;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    &:hover .logo__container .logo__text:first-child {
      color: $color-blue;
      transition: color 0.3s;
    }
  }

  @media (min-width: 1145px) {
    margin-right: 119px;
  }
}

.logo__img {
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
    margin-right: 16px;
  }
}

.logo__container {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 8px;
  }
}

.logo__text {
  display: block;
  user-select: none;
  transition: color 0.3s;

  &:first-child {
    margin-bottom: 3px;
    font-family: $font-alt;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: white;
  }

  &:last-child {
    font-family: $font-alt2;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }
}
