.logo {
  display: flex;
  margin-right: 119px;

  &:hover .logo__container .logo__text:first-child {
    color: $color-blue;
    transition: color $time;
  }

  &--footer {
    margin-bottom: 53px;
    margin-right: 0;
  }

  @media (max-width: 1200px) {
    margin-right: auto;
  }

  @media (max-width: $desktop-width) {
    &--footer {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  @media (max-width: $tablet-width) {
    &--footer {
      margin-bottom: 25px;
    }
  }
}

.logo__img {
  width: 52px;
  height: 52px;
  margin-right: 16px;

  @media (max-width: $tablet-width) {
    width: 38px;
    height: 38px;

    &--footer {
      width: 52px;
      height: 52px;
    }
  }
}

.logo__container {
  padding-top: 8px;

  & svg {
    display: block;
  }

  &--footer {
    padding-top: 4px;
  }

  @media (max-width: $tablet-width) {
    &--header {
      display: none;
    }
  }
}

.logo__text {
  display: block;
  user-select: none;
  transition: color $time;
  margin-bottom: 7px;
  font-family: $font-alt;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: white;

  &--footer {
    line-height: 29px;
    color: $color-dark-blue-2;
  }
}
