.promo {
  padding-top: 210px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    width: 470px;
    padding-top: 95px;
    padding-bottom: 163px;
    padding-left: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    padding-top: 209px;
    padding-left: 0;
  }

  @media (min-width: 1300px) {
    width: 718px;
  }

  & h2 {
    @include title(27px);
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 28px;
      font-size: 80px;
      line-height: 94px;
    }
  }

  & p {
    position: relative;
    margin-top: 0;
    margin-bottom: 42px;
    padding-left: 51px;
    line-height: 156%;

    &::before {
      position: absolute;
      top: 15px;
      left: 3px;
      content: "";
      background-color: white;
      width: 33px;
      height: 2px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
      font-size: 18px;

      &::before {
        top: 16px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 43px;
      padding-left: 98px;
      font-size: 22px;
      line-height: 34px;

      &::before {
        width: 67px;
      }
    }
  }
}

.promo__consultation {
  width: 100%;
  max-width: 379px;
  margin-left: 3px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  background-color: $color-blue;
  border-color: $color-blue;

  @media (min-width: $tablet-width) {
    margin-left: 51px;
  }

  @media (min-width: $desktop-width) {
    max-width: 407px;
    margin-left: 98px;
  }
}

.promo__consultation-text {
  &:last-child {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}
