.services {
  padding-top: 89px;
  padding-bottom: 94px;
  background-color: $color-dark-blue;
  color: white;

  & h2 {
    @include title-h2(49px);

    padding-left: 0;
    padding-right: 100px;
  }

  @media (max-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 81px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 67px;

    & h2 {
      margin-bottom: 38px;
      padding-right: 0;
      padding-left: 10px;
    }
  }
}

.services__list {
  @include list();

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.services__item {
  width: calc(100% / 3 - 20px);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $desktop-width) {
    width: auto;
    margin-right: 0;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.services__link {
  display: block;
  position: relative;
  padding: 50px 152px 50px 42px;
  min-height: 625px;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
  border: 2px solid transparent;
  background-color: $color-dark-blue;
  background-image: url("../img/production-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: border-color 0.3s;

  &::before {
    position: absolute;
    bottom: 0;
    right: -2px;
    content: "";
    width: 63px;
    height: 63px;
    background-color: $color-blue;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    border-color: $color-blue;
    transition: border-color 0.3s;
  }

  &:active {
    opacity: 0.8;
  }

  &--installation {
    background-image: url("../img/installation-desktop@1x.png");
  }

  &--components {
    background-image: url("../img/component-desktop@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/production-desktop@2x.png");

    &--installation {
      background-image: url("../img/installation-desktop@2x.png");
    }

    &--components {
      background-image: url("../img/component-desktop@2x.png");
    }
  }

  @media (max-width: $desktop-width) {
    min-height: 256px;
    padding-top: 39px;
    padding-left: 43px;
    padding-right: 485px;
    background-image: url("../img/production-tablet@1x.png");

    &::before {
      bottom: -2px;
      right: 0;
    }

    &--installation {
      padding-top: 40px;
      background-image: url("../img/installation-tablet@1x.png");
    }

    &--components {
      padding-top: 51px;
      padding-right: 505px;
      background-image: url("../img/component-tablet@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production-tablet@2x.png");

      &--installation {
        background-image: url("../img/installation-tablet@2x.png");
      }

      &--components {
        background-image: url("../img/component-tablet@2x.png");
      }
    }
  }

  @media (max-width: $tablet-width) {
    padding: 22px 100px 23px 35px;
    background-image: url("../img/production@1x.png");

    &--installation {
      background-image: url("../img/installation@1x.png");
    }

    &--components {
      padding-top: 32px;
      background-image: url("../img/component@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production@2x.png");

      &--installation {
        background-image: url("../img/installation@2x.png");
      }

      &--components {
        background-image: url("../img/component@2x.png");
      }
    }
  }
}
