.social {
  @include list();

  display: flex;
  flex-wrap: wrap;
  max-width: 112px;

  & li {
    margin-right: 15px;
    margin-bottom: 15px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    outline: none;

    &:hover,
    &:focus {
      & svg {
        fill: $color-blue;
        transition: fill 0.3s;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }

  @media (max-width: $desktop-width) {
    padding-top: 10px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.social__icon {
  fill: $color-gray-1;
  transition: fill 0.3s;
}
