.footer__form {
  position: relative;
  color: white;
  background-color: $color-blue;
  background-image: url("../img/triangles.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 35px right -83px;

  @media (max-width: 1736px) {
    background-image: none;
  }
}

.footer__form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1570px;
  padding-top: 92px;
  padding-right: 200px;
  padding-bottom: 114px;
  transition: padding $time;

  @media (max-width: 1736px) {
    padding-right: 100px;
    transition: padding $time;
  }

  @media (max-width: 1368px) {
    background-image: none;
  }

  @media (max-width: $desktop-width) {
    display: block;
    padding-top: 80px;
    padding-right: 25px;
    padding-bottom: 104px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 31px;
    padding-right: 15px;
    padding-bottom: 43px;
  }
}

.footer__form-img {
  display: block;
  width: 52%;
  transform: translateY(-23%);
  transition: transform $time;

  @media (max-width: 1300px) {
    transform: translateY(-10%);
    transition: transform $time;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.footer__bottom {
  padding-top: 65px;

  @media (max-width: $desktop-width) {
    padding-top: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 46px;
  }
}

.footer__socials {
  margin-right: 207px;

  & p {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 24px;
    color: rgba(27, 45, 55, 0.5);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  @media (max-width: 1350px) {
    margin-right: 100px;
    transition: $time;
  }

  @media (max-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 39px;
    padding-right: 25px;
    padding-bottom: 23px;
    padding-left: 25px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);

    & p {
      display: block;
      padding-top: 3px;
      padding-left: 15px;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 16px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: none;

    & p {
      margin-bottom: 31px;
      padding-top: 0;
      padding-left: 0;
    }
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1466px;

  &--content {
    margin-bottom: 52px;
  }

  &--copyright {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  @media (max-width: $desktop-width) {
    &--content {
      margin-bottom: 38px;
      padding-right: 0;
      padding-left: 0;
    }

    &--copyright {
      padding-top: 21px;
      padding-bottom: 21px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    &--content {
      margin-bottom: 0;
    }

    &--copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 28px;
      padding-bottom: 24px;
    }
  }
}

.footer__content {
  & h3 {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $color-dark-blue-3;
  }

  & ul {
    @include list();

    font-size: 15px;
    line-height: 25px;
    color: rgba(27, 45, 55, 0.5);
  }

  & a {
    @include link-gray();
  }

  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    max-height: 73px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 25px;
    padding-left: 15px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
    overflow: hidden;
    transition: max-height 0.5s;

    &:nth-child(2) {
      & h3 {
        margin-bottom: 30px;
      }
    }

    & h3 {
      margin-bottom: 26px;
    }
  }
}

.footer__content--show-nav {
  max-height: 400px;
  transition: max-height 0.5s;

  & .footer__button-open-nav {
    &::after {
      background-color: transparent;
    }
  }
}

.footer__button-open-nav {
  display: none;

  @media (max-width: $tablet-width) {
    @include reset-btn();

    position: absolute;
    top: 36px;
    right: 25px;
    z-index: 1;

    display: block;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);

    &::before {
      position: absolute;
      top: 19px;
      left: 12px;
      content: "";
      width: 18px;
      height: 2px;
      background-color: #c4c4c4;
    }

    &::after {
      position: absolute;
      top: 11px;
      left: 20px;
      content: "";
      width: 2px;
      height: 18px;
      background-color: #c4c4c4;
    }
  }
}

.footer__nav-list {
  column-count: 2;
  column-gap: 72px;

  & li {
    max-width: 235px;
  }

  @media (max-width: 1250px) {
    column-count: auto;
  }

  @media (max-width: $desktop-width) {
    margin-right: 0;
  }
}

.footer__contacts-list {
  max-width: 335px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    width: 100%;
    justify-content: space-between;
    padding-right: 36px;
    padding-left: 25px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer__copyright {
  border-top: 1px solid $color-gray-2;

  & p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 24px;
    color: rgba(27, 45, 55, 0.5);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:first-child {
      margin-right: 74px;
    }

    &:nth-child(2) {
      margin-right: 143px;
    }

    &:nth-child(3) {
      margin-right: auto;
    }
  }

  & a {
    @include link-gray();
  }

  @media (max-width: $desktop-width) {
    & p {
      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        margin-right: auto;
      }
    }
  }

  @media (max-width: $tablet-width) {
    & p {
      &:nth-child(3) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
