*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  color: $color-black;
  font-style: normal;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden();
}

.show-modal {
  overflow-y: hidden;

  &.modal-callback {
    & #callback {
      display: flex;
    }
  }

  &.modal-menu {
    & #menu {
      display: flex;

      & .nav {
        transform: translateX(0);
        animation: menu-open $time ease-out;
        will-change: animation;
      }
    }
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
