@mixin container {
  padding-right: 14px;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@mixin list($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  padding-left: 0;
  list-style: none;
}

@mixin title($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  font-family: $font-alt;
}

@mixin title-h2($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 51px;
  }
}

@mixin reset-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  transition: 0.3s;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

@mixin btn-white {
  color: white;
  border-color: white;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &:hover,
  &:focus {
    background-color: white;
    color: $color-blue;
    border-color: $color-blue;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin btn-blue {
  color: $color-blue;
  border-color: $color-blue;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &:hover,
  &:focus {
    background-color: $color-blue;
    color: white;
    border-color: $color-blue;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }

  &:active {
    opacity: 0.7;
  }
}
