@mixin container {
  max-width: $mobile-width;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }

  @media (min-width: $desktop-wide-width) {
    max-width: $desktop-wide-width;
  }
}

@mixin list($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  padding-left: 0;
  list-style: none;
}

@mixin title-h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;

  @media (min-width: $tablet-width) {
    font-size: 38px;
    line-height: 46px;
  }

  @media (min-width: $desktop-wide-width) {
    font-size: 41px;
    line-height: 50px;
  }
}

@mixin reset-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  transition: 0.3s;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
