@mixin container {
  padding-right: 14px;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@mixin list($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  padding-left: 0;
  list-style: none;
}

@mixin title($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  font-family: $font-alt;
}

@mixin title-h2($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 51px;
  }
}

@mixin reset-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  transition: $time;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

@mixin btn-white {
  color: white;
  border-color: white;
  transition: color $time, background-color $time, border-color $time;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: white;
    color: $color-blue;
    border-color: $color-blue;
    transition: color $time, background-color $time, border-color $time;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin btn-blue {
  color: $color-blue;
  border-color: $color-blue;
  transition: color $time, background-color $time, border-color $time;

  &:hover,
  &:focus {
    background-color: $color-blue;
    color: white;
    border-color: $color-blue;
    transition: color $time, background-color $time, border-color $time;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin input {
  width: 100%;
  padding: 11px 15px 15px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  color: white;
  border: 1px solid transparent;
  outline: none;
  transition: border-color $time;
  border-radius: 0;
  appearance: none;

  &::placeholder {
    color: white;
  }

  &:hover,
  &:focus {
    border-color: white;
    transition: border-color $time;
  }

  @media (max-width: $desktop-width) {
    padding-top: 12px;
    padding-left: 18px;
    padding-bottom: 16px;
    padding-right: 15px;
  }
}

@mixin link-gray {
  color: rgba(27, 45, 55, 0.5);
  transition: color $time;
  outline: none;

  &:hover,
  &:focus {
    color: $color-dark-blue-3;
    transition: color $time;
  }

  &:active {
    opacity: 0.8;
  }
}
